/* style.css
 * This file provides css styles.
 */

body {
	background-color: #3B4547;
	margin: 0 auto;
  max-width: 50em;

	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #131617;

	line-height: 1.5;
	padding: 4em 1em;
}

a {
	text-decoration: none;
	color: #B25200;
}

a:hover {
	text-decoration: underline;
}

.map-container {
	margin-top: 37px;
	margin-bottom: 25px;
	height: 500px;
}

#map {
	height: 100%;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.text-container {
	margin-top: 37px;
	margin-bottom: 25px;
	padding: 1em;

	border: solid grey thin;
	background-color: #6E8185;
}
