body {
	background-color: #3B4547;

	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #131617;

	line-height: 1.5;
}

/* Desktop only */
@media (min-width: 900px) {
	body {
    margin: 0 auto;
    max-width: 50em;

    padding: 1em;
	}

	.map-container {
		margin-top: 37px;
		margin-bottom: 25px;
	}

}

a {
	text-decoration: none;
	color: #B25200;
}

a:hover {
	text-decoration: underline;
}

#map {
	height: 100%;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.map-container {
  height: 400px;
}

.text-container {
	border: solid grey thin;
	background-color: #6E8185;
}
